.header {
    display: flex;
    width: 100%;
    top: 0;
    z-index: 20;
    position: fixed;
    max-width: 1440px;
    &::before {
        content: "";
        height: 95px;
        width: 100%;
        background: #1a1d26cb;
        backdrop-filter: blur(15px);
        position: absolute;
        z-index: -1;
    }
}
.header__content {
    padding: 15px clamp(20px, 5.2vw, 100px);
    display: flex;
    align-items: center;
    width: 100%;
    height: max-content;
}
.header__logo {
    height: max-content;
    font-size: clamp(40px, 2.6vw, 50px);
    font-family: "LM";
    color: white;
    margin-right: clamp(0px, 5vw, 180px);
    cursor: pointer;
    transition: color 0.1s linear;
    &:hover {
        color: #FFB077;
    }
}
.header__menu {
    margin-right: auto;
    display: flex;
    gap: clamp(15px, 1.8vw, 35px);
}
.header__item-menu {
    text-transform: uppercase;
    font-family: "RM";
    color: #ABAEB7;
    font-size: clamp(16px, 2vw, 20px);
    @media (max-width: 768px) {
        font-size: clamp(30px, 2vw, 20px);
    }
    position: relative;
    z-index: 10;
    transition: color 0.1s linear;
    &:hover {
        color: #FFB077;
    }
}
.header__button {
    width: clamp(120px, 14vw, 170px);
    padding: clamp(0px, 1.5vw, 12px) 0px;
    position: relative;
    z-index: 15;
    border: 1px solid white;
    font-family: "RM";
    font-size: clamp(18px, 2vw, 20px);
    @media (max-width: 768px) {
        font-size: clamp(26px, 2vw, 16px);
    }
    background: none;
    color: white;
    transition: color 0.3s linear, border 0.3s linear;
    &:hover{
        border: 1px solid #FFB077;
        color: #FFB077;
    }
}
@keyframes button-hover {
    0%{
        background-color: initial;
        color: white;
    }
    100%{
        background-color: white;
        color: black;
    }
}
.burger {
    display: flex;
    align-items: center;
    height: clamp(40px, 2.6vw, 50px);
}
.burger__button {
    height: 24px;
    width: 27px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 20;
    cursor: pointer;
    span {
        background-color: white;
        border-radius: 14px;
        width: 70%;
        height: 3px;
    }
    & span:first-child,
    & span:last-child {
        width: 100%;
    }
    
    & span:nth-child(2) {
        left: 30%;
        position: relative;
        transition: left 0.3s linear;
    }

    &_active {
        & span:nth-child(2) {
            left: 0;
        }
    
    }
}
.burger__content {
    display: flex;
    align-items: center;
    z-index: 16;
    height: max-content;
    width: 100%;
    opacity: 1;
    transition: left 0.3s linear;
    @media (max-width: 768px) {
        padding: clamp(20px, 5.2vw, 100px);
        padding-top: 100px;
        flex-direction: column;
        position: fixed;
        align-items: start;
        top: 0;
        left: 200%;
        background-color: #1A1D26;
        min-height: 100dvh;
        height: 100%;
        width: 100%;
        visibility: hidden;
    }
}

.burger__content_active {
    left: 0%;
}

.burger__content_visible {
    visibility: visible;
}

@media (max-width: 768px) {
    .header__logo { 
        margin-right: auto;
    }
    .header__menu {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__button {
        display: block;
        margin-top: auto;
        width: 100%;
    }
    .burger__button {
        display: flex;
    }
}