mixin header() 
    header.header  
        .header__content 
            button.header__logo(onclick="clickLogo()" tabIndex="0" aria-label="Название компании") RMC
            .burger 
                button.burger__button(tabIndex="0" aria-label="Кнопка для меню")
                    span(aria-hidden="true")
                    span(aria-hidden="true")
                    span(aria-hidden="true")

            .burger__content  
                nav.header__menu(aria-label="Навигационное меню")
                    button.header__item-menu(data-scroll=".aboutUs-section" tabIndex="0") THE STUDIO
                    button.header__item-menu(data-scroll=".project-section" tabIndex="0") pROJECTS
                    button.header__item-menu(data-scroll=".create-section" tabIndex="0") architecture
                    button.header__item-menu(data-scroll=".team-section" tabIndex="0") team
                button.header__button Contact


