mixin header() 
    header.header  
        .header__content 
            button.header__logo(onclick="clickLogo()" tabIndex="0" aria-label="Название компании") RMC
            .burger 
                button.burger__button(tabIndex="0" aria-label="Кнопка для меню")
                    span(aria-hidden="true")
                    span(aria-hidden="true")
                    span(aria-hidden="true")

            .burger__content  
                nav.header__menu(aria-label="Навигационное меню")
                    a.header__item-menu(href="" data-scroll=".aboutUs-section") THE STUDIO
                    a.header__item-menu(href="" data-scroll=".project-section") pROJECTS
                    a.header__item-menu(href="" data-scroll=".create-section") architecture
                    a.header__item-menu(href="" data-scroll=".team-section") team
                button.header__button Contact


