.header {
  padding: 0 clamp(20px, 5.2vw, 100px);
  height: 100px;
  max-width: 1920px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  z-index: 2;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.header__logo {
  font-size: clamp(40px, 2.6vw, 50px);
  font-family: "LM";
  color: white;
  margin-right: clamp(0px, 9.3vw, 180px);
}

.header__menu {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(10px, 1.8vw, 35px);
}

.header__item-menu {
  text-transform: uppercase;
  font-family: "RM";
  color: #ABAEB7;
  position: relative;
  z-index: 10;
}
.header__item-menu:hover {
  color: #FFB077;
}

.header__button {
  padding: 15px 30px;
  position: relative;
  z-index: 15;
  border: 1px solid white;
  font-family: "RM";
  font-size: 16px;
  background: none;
  color: white;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header__button:hover {
  border: 1px solid #FFB077;
  color: #FFB077;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@-webkit-keyframes button-hover {
  0% {
    background-color: initial;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}

@keyframes button-hover {
  0% {
    background-color: initial;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}
.burger__button {
  height: 24px;
  width: 27px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 20;
  cursor: pointer;
}
.burger__button span {
  background-color: white;
  border-radius: 14px;
  width: 70%;
  height: 3px;
}
.burger__button span:first-child, .burger__button span:last-child {
  width: 100%;
}

.burger__content {
  padding: clamp(20px, 5.2vw, 100px);
  padding-top: 100px;
  display: none;
  position: absolute;
  z-index: 16;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #1A1D26;
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@-webkit-keyframes move-burger {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}

@keyframes move-burger {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}
.burger__content_active {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-animation: move-burger 0.3s linear;
          animation: move-burger 0.3s linear;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.burger__content_active .header__menu {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.burger__content_active .header__button {
  display: block;
  margin-top: auto;
}

@media (max-width: 768px) {
  .header__logo {
    margin-right: auto;
  }
  .header__menu {
    display: none;
  }
  .header__button {
    display: none;
  }
  .burger__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}