include components/header/_header.pug
include components/main/main-section/_mainSection.pug
include components/main/spec-section/_specSection.pug
include components/main/aboutUs-section/_aboutUsSection.pug
include components/main/project-section/_projectSection.pug
include components/main/create-section/_createSection.pug
include components/main/check-section/_checkSection.pug
include components/main/team-section/_teamSection.pug
include components/footer/_footer.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Предоставление услуг профессиональных дизайнеров с готовыми решениями и расценками.")
        title Professional Interior Design
        link(rel="shortcut icon", href="img/logo.svg")
        link(rel="stylesheet", href="components/style.css")
    body 
        .body-wrapper
            .content
                +header 
                +mainSection
                +specSection
                +aboutUsSection
                +projectSection
                +createSection
                +checkSection
                +teamSection
                +footer
        script(src="components/header/header.js") 
        script(src="components/main/project-section/projectSection.js")