mixin mainSection()
    section.main-section 
        .main-section__info 
            p.main-section__label Architecture design
            h1.main-section__title Professional Interior Design
            p.main-section__description Design for now with the awareness of yesterday and unknown tomorrow. Because small details make the perfect design. Helping you choose between good and best.
            button.main-section__button Let’s work together
        .main-section__img(aria-hidden="true")
            img(src="img/display/main.webp")
        p.main-section__decor-text(aria-hidden="true" role="presentation") Interior
            