mixin aboutUsSection()
    section.aboutUs-section
        .aboutUs-section__top-block 
            h2.aboutUs-section__title About Us
            p.aboutUs-section__description As development continues, engineers may visit building destinations to guarantee that temporary workers pursue the plan, keep to the timetable, utilize the predefined materials, and meet work-quality models.
        .aboutUs-section__clients-block
            .aboutUs-section__row-text
                p.aboutUs-section__percent 85%
                p.aboutUs-section__text Satisfied
                    |
                    br
                    | Clients
            .aboutUs-section__bottom 
                .aboutUs-section__img-decor 
                    img(src="/img/display/about-us-1.png", alt="")
                .aboutUs-section__img-read-more 
                    img(src="/img/display/read-more.png", alt="")
        .aboutUs-section__right-block 
            .aboutUs-section__img-decor 
                img(src="/img/display/about-us-2.png", alt="")
            .aboutUs-section__img-decor 
                img(src="/img/display/about-us-3.png", alt="")