.spec-section {
    width: 100%;
    padding: 0 clamp(20px, 5.2vw, 100px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: clamp(90px, 7.2vw, 140px);
}
.spec-section__label {
    margin-bottom: clamp(20px, 1.5vw, 30px);
    letter-spacing: 4.8px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "LM";
    color: #FFC978;
}
.spec-section__name {
    margin-bottom: clamp(30px, 2.7vw, 52px);
    font-size: clamp(36px, 3.1vw, 60px);
    font-family: "LR";
    color: white;
}
.spec-section__items {
    width: 100%;
    height: 100%;
    display: flex;
    gap: clamp(20px, 1.5vw, 30px);
    justify-content: space-between;
    position: relative;
    z-index: 2;
    & li:nth-child(4n + 1),
    & li:nth-child(4n + 4) {
        top: -129px;
    }
}
.spec-section__item_fi {
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0)), url(../img/display/spec-1.webp) center/ 100% 100% no-repeat;
}
.spec-section__item_se {
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0)), url(../img/display/spec-2.webp) center/ 100% 100% no-repeat;
}
.spec-section__item_th {
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0)), url(../img/display/spec-3.webp) center/ 100% 100% no-repeat;
}
.spec-section__item_fo {
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0)), url(../img/display/spec-4.webp) center/ 100% 100% no-repeat;
}
.spec-section__item {
    padding: clamp(20px, 2vw, 25px);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 280px;
    width: 100%;
    height: clamp(420px, 34.7vw, 500px);
    cursor: pointer;
    transition: transform 0.1s linear;
    &:hover {
        box-shadow: inset 0px 0px 5px 2px white,  0px 0px 10px 5px white;
        transform: scale(0.95);
    }
}
.spec-section__item-name {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "LM";
    color: white;
    
}
.spec-section__item-description {
    font-size: 16px;
    color: white;
    font-family: "RR";
}
.spec-section__decor-text {
    position: absolute;
    display: inline-block;
    width: max-content;
    height: max-content;
    right: 0;
    bottom: -80px;
    font-size: clamp(80px, 8.75vw, 168px);
    line-height: 90%;
    font-family: "RR";
    text-transform: uppercase;
    color: #0B0E1780;
}
@media (max-width: 1440px) {
    .spec-section__items {
        overflow-x: auto;
        & li:nth-child(4n + 1),
        & li:nth-child(4n + 4) {
            top: 0;
        }
    }
    .spec-section__item {
        &:hover {
            box-shadow: none;
            transform: none;
        }
    }
}

@media (max-width: 425px) {
    .spec-section__label {
        align-self: flex-start;
    }
    .spec-section__name {
        align-self: flex-start;
    }
}