mixin specSection()
    section.spec-section 
        p.spec-section__label TOP SERVICES
        h2.spec-section__name Our Specializations
        ul.spec-section__items 
            li.spec-section__item
                p.spec-section__item-name Construction
                p.spec-section__item-description Tempor incididunt ut labore et dolore magna aliqua.
            li.spec-section__item
                p.spec-section__item-name Floor plan
                p.spec-section__item-description Tempor incididunt ut labore et dolore magna aliqua. 
            li.spec-section__item
                p.spec-section__item-name Interior Design
                p.spec-section__item-description Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            li.spec-section__item
                p.spec-section__item-name Architecture Design
                p.spec-section__item-description Tempor incididunt ut labore et dolore magna aliqua.
            li.spec-section__item
                p.spec-section__item-name Construction
                p.spec-section__item-description Tempor incididunt ut labore et dolore magna aliqua.
        p.spec-section__decor-text Design