.spec-section {
    padding: 0 20px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: clamp(50px, 7.2vw, 140px);
}
.spec-section__label {
    margin-bottom: clamp(20px, 1.5vw, 30px);
    letter-spacing: 4.8px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "LM";
    color: #FFC978;
}
.spec-section__name {
    margin-bottom: clamp(30px, 2.7vw, 52px);
    font-size: clamp(36px, 3.1vw, 60px);
    font-family: "LR";
    color: white;
}
.spec-section__items {
    display: flex;
    gap: clamp(20px, 1.5vw, 30px);

    & li:nth-child(4n + 1),
    & li:nth-child(4n + 4) {
        top: -129px;
    }
}
.spec-section__item_fi {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, rgba(255, 255, 255, 0)), url(../../../img/display/spec-1.png) center/ 100% no-repeat;
}
.spec-section__item_se {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, rgba(255, 255, 255, 0)), url(../../../img/display/spec-2.png) center/ 100% no-repeat;
}
.spec-section__item_th {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, rgba(255, 255, 255, 0)), url(../../../img/display/spec-3.png) center/ 100% no-repeat;
}
.spec-section__item_fo {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, rgba(255, 255, 255, 0)), url(../../../img/display/spec-4.png) center/ 100% no-repeat;
}
.spec-section__item {
    padding: clamp(20px, 2vw, 30px);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 300px;
    height: 500px;
    transition: all 0.3s linear;
}
.spec-section__item-name {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "LM";
    color: white;
    
}
.spec-section__item-description {
    font-size: 16px;
    color: white;
    font-family: "RR";
}
.spec-section__decor-text {
    position: absolute;
    z-index: 10;
    display: inline-block;
    width: max-content;
    height: max-content;
    right: 0;
    bottom: -61px;
    font-size: clamp(110px, 8.75vw, 168px);
    line-height: 90%;
    font-family: "RR";
    text-transform: uppercase;
    color: #0B0E1780;
}
@media (max-width: 1440px) {
    .spec-section__items {
    
        & li:nth-child(4n + 1),
        & li:nth-child(4n + 4) {
            top: 0;
        }
    }
}

@media (max-width: 1300px) {
    .spec-section__items {
        position: relative;
        left: -160px;
    }
    .spec-section__decor-text {
        display: none;
    }
}

@media (max-width: 425px) {
    .spec-section__label {
        align-self: flex-start;
    }
    .spec-section__name {
        align-self: flex-start;
    }
}