mixin footer()
    footer.footer-section 
        .footer-section__row-img 
            .footer-section__wrapper
                .footer-section__img 
                    img(src="img/display/footer-1.png", alt="Пример проекта" loading="lazy")
                .footer-section__img 
                    img(src="img/display/footer-2.png", alt="Пример проекта" loading="lazy")
                .footer-section__img 
                    img(src="img/display/footer-3.png", alt="Пример проекта" loading="lazy")
                .footer-section__img 
                    img(src="img/display/footer-4.png", alt="Пример проекта" loading="lazy")
                .footer-section__img 
                    img(src="img/display/footer-5.png", alt="Пример проекта" loading="lazy")
                .footer-section__img 
                    img(src="img/display/footer-1.png", alt="Пример проекта" loading="lazy")
                .footer-section__img 
                    img(src="img/display/footer-2.png", alt="Пример проекта" loading="lazy")
        .footer-section__info 
            .footer-section__column 
                p.footer-section__name RMC
                p.footer-section__description Take a look at how we designed this housesimply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            .footer-section__column 
                button.footer-section__link(tabIndex="0") The Studio
                button.footer-section__link(tabIndex="0") Projects
                button.footer-section__link(tabIndex="0") Architecture
                button.footer-section__link(tabIndex="0") Blog
                button.footer-section__link(tabIndex="0") Contact
            .footer-section__column 
                p.footer-section__label Visit
                p.footer-section__text City, street
                p.footer-section__label Call
                a(href="tel:" tabIndex="0").footer-section__text 00-0000-00-00
        p.footer-section__copyright ©Copyright 2022 
            a(href="mailto:" tabIndex="0") Email: mail@gmail.com
            