mixin footer()
    footer.footer-section 
        .footer-section__row-img 
            .footer-section__wrapper
                .footer-section__img 
                    img(src="img/display/footer-1.png", alt="")
                .footer-section__img 
                    img(src="img/display/footer-2.png", alt="")
                .footer-section__img 
                    img(src="img/display/footer-3.png", alt="")
                .footer-section__img 
                    img(src="img/display/footer-4.png", alt="")
                .footer-section__img 
                    img(src="img/display/footer-5.png", alt="")
                .footer-section__img 
                    img(src="img/display/footer-1.png", alt="")
                .footer-section__img 
                    img(src="img/display/footer-2.png", alt="")
        .footer-section__info 
            .footer-section__column 
                p.footer-section__name RMC
                p.footer-section__description Take a look at how we designed this housesimply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            .footer-section__column 
                p.footer-section__link The Studio
                p.footer-section__link Projects
                p.footer-section__link Architecture
                p.footer-section__link Blog
                p.footer-section__link Contact
            .footer-section__column 
                p.footer-section__label Visit
                p.footer-section__text City, street
                p.footer-section__label Call
                p.footer-section__text 00-0000-00-00
        p.footer-section__copyright ©Copyright 2022 
            span Email: mail@gmail.com
            