mixin teamSection()
    section.team-section
        p.team-section__label OUR team
        h2.team-section__title Meet With Our Team
        .team-section__wrapper 
            .team-section__img 
                img(src="img/display/team.webp" alt="Фотография команды" loading="lazy")
        ul.team-section__list 
            li.team-section__name Cody Fisher   -   CEO
            li.team-section__name Savannah Nguyen   -   Interior architect
            li.team-section__name Jerome Bell   -   Interior
            li.team-section__name Cameron Williamson   -   architect
            li.team-section__name Marvin McKinney   -   COnstruction head