.team-section {
    margin: 0 auto;
    margin-bottom: clamp(50px, 7.2vw, 140px);
    padding: 0 20px;
    max-width: 1290px;
    width: 100%;
}
.team-section__label {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    letter-spacing: 4.8px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "LM";
    color: #FFC978;
}
.team-section__title {
    margin-bottom: clamp(30px, 3.1vw, 60px);
    position: relative;
    z-index: 1;
    font-size: clamp(36px, 3.1vw, 60px);
    font-family: "LR";
    color: white;
}
.team-section__wrapper {
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    width: 100%;
}
.team-section__img {
    img {
        min-width: 1024px;
        width: 100%;
    }
}
.team-section__list {

}
.team-section__name {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(171, 174, 183, 0.30);
    text-transform: uppercase;
    font-family: "RM";
    color: white;
}

@media (max-width: 1024px) {
    .team-section__img {
        overflow-x: auto;
        margin: 0 -20px;
    }
}