mixin createSection()
    section.create-section 
        .create-section__content 
            .create-section__home-img 
                img(src="img/display/home.svg" alt="Декоративное изображение" loading="lazy")
            .create-section__info 
                h2.create-section__title We Create Digital Experience
                .create-section__percent-row
                    .create-section__column 
                        p.create-section__percent 75
                            span %
                        p.create-section__name Architecture
                    .create-section__column 
                        p.create-section__percent 85
                            span %
                        p.create-section__name Construction
                    .create-section__column 
                        p.create-section__percent 65
                            span %
                        p.create-section__name Interior Design
                button.create-section__button Lets work together
            p.create-section__decor R