mixin projectSection()
    section.project-section
        p.project-section__label OUR PROJECT
        .project-section__title-row
            h2.project-section__title Our Latest Projects
            ul.project-section__categors
                li.project-section__item 
                    input(type="radio", name="categor" checked)
                    span All
                li.project-section__item 
                    input(type="radio", name="categor")
                    span Architecture
                li.project-section__item 
                    input(type="radio", name="categor")
                    span Construction
                li.project-section__item 
                    input(type="radio", name="categor")
                    span Interior Design
        .project-section__list-project
            .project-section__list-column
                .project-section__project 
                    img(src="/img/display/project-1.png", alt="")
                .project-section__project 
                    img(src="/img/display/project-2.png", alt="")
            .project-section__list-column
                .project-section__project 
                    img(src="/img/display/project-3.png", alt="")
                .project-section__project 
                    img(src="/img/display/project-4.png", alt="")
            .project-section__list-column
                .project-section__project 
                    img(src="/img/display/project-5.png", alt="")
                .project-section__project 
                    img(src="/img/display/project-6.png", alt="")
            .project-section__list-column
                .project-section__project 
                    img(src="/img/display/project-7.png", alt="")
                .project-section__project 
                    img(src="/img/display/project-8.png", alt="")
