mixin checkSection()
    section.check-section
        .check-section__row-title 
            .check-section__left 
                p.check-section__label OUR PROJECT
                h2.check-section__title Check Availability
            .check-section__right 
                p.check-section__text The unique architect with ideas from outside the world. Where design and science meet. With people’s comfort in mind
        .check-section__info
            .check-section__wrapper
                .check-section__scroll
                    table.check-section__table 
                        tr 
                            th Residence
                            th Bed/Bath
                            th SQ. FT.
                            th Sale Price
                            th Rent Price
                            th Floor Plan
                        tr 
                            td LUX APARTMENT
                            td 3/2
                            td 110
                            td $350,000
                            td $2,500
                            td 
                                button.check-section__view-now VIEW NOW
                        tr 
                            td LUX APARTMENT
                            td 3/2
                            td 110
                            td $350,000
                            td $2,500
                            td 
                                button.check-section__view-now VIEW NOW
                        tr 
                            td LUX APARTMENT
                            td 3/2
                            td 110
                            td $350,000
                            td $2,500
                            td 
                                button.check-section__view-now VIEW NOW
                        tr 
                            td LUX APARTMENT
                            td 3/2
                            td 110
                            td $350,000
                            td $2,500
                            td 
                                button.check-section__view-now VIEW NOW
                        tr 
                            td LUX APARTMENT
                            td 3/2
                            td 110
                            td $350,000
                            td $2,500
                            td 
                                button.check-section__view-now VIEW NOW
                        tr 
                            td LUX APARTMENT
                            td 3/2
                            td 110
                            td $350,000
                            td $2,500
                            td 
                                button.check-section__view-now VIEW NOW
                        tr 
                            td LUX APARTMENT
                            td 3/2
                            td 110
                            td $350,000
                            td $2,500
                            td 
                                button.check-section__view-now VIEW NOW
            .check-section__img 
                img(src="img/display/check.png", alt="")
        .check-section__decor 
            img(src="img/display/line.svg", alt="")


            
                
        