.check-section {
  margin: 0 auto;
  margin-bottom: clamp(50px, 7.2vw, 140px);
  padding: 0 20px;
  position: relative;
  max-width: 1290px;
  width: 100%;
}

.check-section__row-title {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-section__label {
  margin-bottom: clamp(20px, 1.5vw, 30px);
  letter-spacing: 4.8px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "LM";
  color: #FFC978;
}

.check-section__title {
  font-size: clamp(36px, 3.1vw, 60px);
  font-family: "LR";
  color: white;
}

.check-section__text {
  max-width: 445px;
  font-size: 16px;
  font-family: "RR";
  color: #ABAEB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 160%;
}
.check-section__text::before {
  content: "";
  display: inline-block;
  min-width: 2px;
  height: 150px;
  position: relative;
  left: -30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(197, 225, 228, 0)), color-stop(51.56%, #C5E1E4), to(rgba(197, 225, 228, 0)));
  background: linear-gradient(180deg, rgba(197, 225, 228, 0) 0%, #C5E1E4 51.56%, rgba(197, 225, 228, 0) 100%);
}

.check-section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.check-section__wrapper {
  width: 100%;
  margin-right: 51px;
}

.check-section__scroll {
  overflow-x: auto;
}

.check-section__table {
  width: 100%;
  border-spacing: 0;
}
.check-section__table th {
  padding: 0px 0 10px;
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  font-family: "LR";
  color: #FFC978;
  border-bottom: 1px solid #ABAEB7;
}
.check-section__table th:last-child {
  width: 12%;
}
.check-section__table td {
  padding: 20px 0;
  border-bottom: 1px solid #ABAEB7;
  font-family: "RR";
  color: #ABAEB7;
}
.check-section__table tr td:first-child {
  text-transform: uppercase;
  color: white;
}
.check-section__table tr:last-child td {
  border-bottom: none;
}

.check-section__view-now {
  position: relative;
  z-index: 10;
  font-size: 16px;
  text-decoration: underline;
  background-color: inherit;
  color: white;
}
.check-section__view-now:hover {
  color: #FFB077;
}

.check-section__decor {
  position: absolute;
  z-index: 0;
  bottom: -183px;
  left: -315px;
  max-width: 1920px;
  width: 100vw;
}
@media (max-width: 1024px) {
  .check-section__wrapper {
    margin: 0;
  }
  .check-section__table {
    min-width: 809px;
  }
  .check-section__decor {
    display: none;
  }
  .check-section__img {
    display: none;
  }
  .check-section__right {
    display: none;
  }
}